/* styles.css */
.products-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust to your desired layout */
  }
  
  .product-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 30%; /* Adjust to your desired width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .product-description {
    color: #333;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .product-price {
    color: #007BFF; /* Adjust to your desired text color */
    font-weight: bold;
  }
  .xzoom-thumbs{
    display: inline-block;
    height: 80px;
    width: 80px;
    border: 1px;
  }

  .xzoom-preview{
    border: 1px solid #ddd;
    box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.2);
  }