<%- include('../userMainlayouts/mainheader.ejs') %>

<section class="bg-gray-50">
    <div class="container flex flex-col justify-center p-t-65 p-b-40 mx-auto md:p-8">
       
        <h2 class="mb-12 mt-8 display-4 font-bold p-b-10 font-weight-bold text-dark leading-none text-center sm:text-5xl">Frequently Asked Questions</h2>
        <div class="grid gap-10 md:gap-8 sm:p-3 md:grid-cols-2 lg:px-12 xl:px-32">
            <div>
                <h3 class="font-semibold">What are the essential pieces every man should have in his wardrobe?</h3>
                <p class="mt-1 text-gray-600">Every man should have a few essential pieces in his wardrobe, including a well-fitted suit, quality denim jeans, versatile white shirts, and classic leather shoes.</p>
            </div>
            <div>
                <h3 class="font-semibold">How can I dress casually yet stylishly?</h3>
                <p class="mt-1 text-gray-600">To dress casually yet stylishly, opt for well-fitted casual shirts, comfortable chinos or jeans, and stylish sneakers or loafers. Layer with a smart jacket or blazer for added style.</p>
            </div>
            <div>
                <h3 class="font-semibold">What are some current trends in men's fashion?</h3>
                <p class="mt-1 text-gray-600">Current trends in men's fashion include oversized silhouettes, retro-inspired pieces like Hawaiian shirts, and sustainable fashion choices such as organic fabrics and upcycled garments.</p>
            </div>
            <div>
                <h3 class="font-semibold">How can I accessorize to enhance my outfit?</h3>
                <p class="mt-1 text-gray-600">Accessorize your outfit with statement watches, stylish belts, and quality leather bags. Don't forget about classic sunglasses and subtle jewelry pieces to complete your look.</p>
            </div>
        </div>
    </div>
</section>

<%- include('../userMainlayouts/mainfooter.ejs') %>
